*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

body{
    height: 100%;
    overflow: hidden;
}
.game-text{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0,0, 0.7);
    left: 0;
    top: 0;
    color: #fff;
    font-size: 50px;
}
.game-text > button {
    padding: 0.5rem, 1rem;
    color: #fff;
    background: salmon;
    border:none;
    cursor: pointer;
    font-size: 20px;
}

.score{
    text-align: center;
    font-size: 36px;
    margin-bottom: 3rem;
}

.playground > ul{
    border: 1px solid #333;
    width: 250px;
    margin: auto;
}

.playground > ul > li{
    width: 100%;
    height: 25px;
}
.playground > ul > li > ul{
    display: flex;
}

.playground > ul > li > ul > li{
    width: 25px;
    height: 25px;
    outline: 1px solid #ccc;
}
.tree{
    background: #67c236;
}
.bar{
    background: #67c236;
}
.squre{
    background: #67c236;
}
.zee{
    background: #67c236;
}
.elLeft{
    background: #67c236;
}
.elRight{
    background: #67c236;
}
