body {
  display: flex;
  background-color: #000;
  color: #FFF;
  font-family: sans-serif;
  font-size:  2em;
  text-align: center;
}

.player {
  flex: 1 1 auto;
}
.local canvas{
  border-color: #FFF;
}

canvas {
  border: solid .2em #707077;
  height: 90vh;
}
